.EG-Body {
  z-index: -1;
  height: 2000px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 50px;
}

@media only screen and (max-width: 1050px) {
  .EG-Body {
    z-index: -1;
    height: calc(100%+20px);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

      