.SGPL-Body {
  z-index: -1;
  height: 2000px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 50px;
}

.SG-PL-Img {
  height: 225px;
  width: 225px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.SGPL-Top{
  display: inline-flex;
}

.SGPL-Title {
  color: white;
  font-size: 25px;
  padding-left: 20px;
}
.SGPL-Info {
  margin-left: 20px;
  color: rgb(160, 155, 153);
  font-weight: 700;
  font-size: 10px;
}

.SGPL-Description {
  margin-left: 20px;
  margin-bottom: 15px;
  color: rgb(224, 222, 221);
  font-weight: 300;
  font-size: 13px;
}

.SGPL-Buttons {
  position: relative;
  top: 60px;
}

.SGPL-Play-Button {
  display: inline-flex;
  justify-content: center;
  margin-left: 20px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(251, 45, 71);
}

.SGPL-Play-Text {
  display: flex;
  align-self: center;
  text-align: center;
  padding-left: 5px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.SGPL-play {
  display: flex;
  align-self: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.SGPL-Shuffle-Button {
  display: inline-flex;
  justify-content: center;
  margin-left: 10px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(251, 45, 71);

}

.SGPL-Shuffle-Text {
  display: flex;
  align-self: center;
  text-align: center;
  padding-left: 5px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.SGPL-Shuffle {
  display: flex;
  align-self: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.SGPL-Bottom-Title-Header {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
}
.SGPL-Bottom-Song-Header {
  height: 50px;
  width: 40%;
  /* background-color: red; */
}

.SGPL-Bottom-Artist-Header {
  height: 50px;
  width: 20%;
  /* background-color: blue; */
}

.SGPL-Bottom-Album-Header {
  height: 50px;
  width: 20%;
  /* background-color: black; */
}

.SGPL-Bottom-Time-Header {
  height: 50px;
  width: 20%;
  /* background-color: white; */
}

.SGPL-Bottom-text {
  /* padding-left: 100px; */
  color: rgb(160, 155, 153);
}

#SGPL-Bottom-Time-text {
  padding-left: 100px;
}


.SG-Bottom-PL-Img {
  height: 41px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
}

.SGPL-Bottom-Song {
  display: inline-flex;
}

.SGPL-Bottom-Song-text {
  font-size: small;
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

#SGPL-Bottom-Info-Text {
  font-size: small;
  padding-left: 100px;
}

.SGPL-Darker-Shade {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  /* background-color: rgb(41, 30, 27); */
  background-color: rgb(35, 35, 35);
}

.SGPL-Darker-Shade:hover {
  background-color: rgb(44, 44, 44);
}

/* .SGPL-Darker-Shade:focus {
  background-color: rgb(156, 30, 29);
} */

.SGPL-No-Shade {
  height: 80px;
  width: 100%;
  border-radius: 10px;
}

.SGPL-No-Shade:hover {
  background-color: rgb(44, 44, 44);
}

/* .SGPL-No-Shade:focus {
  background-color: rgb(156, 30, 29);
} */

.SGPL-icon-menu {
  color: rgb(251, 45, 71);
}

.SGPL-icon-menu:hover {
  cursor: pointer;
}

.SGPL-Time {
  display: inline-flex;
  width: 100px;
}

.SGPL-icon-menu-div {
  padding-top: 10px;
  padding-left: 10px;
}
