.BR-body {
  z-index: -1;
  height: 2000px;
  padding-top: 65px;
  padding-left: 300px;
  padding-right: 50px;
}

.BR-browse-container {
  display: flex;
  justify-content: space-evenly;
}

.BR-images {
  margin-right: 2rem;
  border-radius: 10px;
  width: 17.5%;
  box-shadow: 3px 3px 5px black;
  transition: box-shadow 0.3s ease-in-out;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s ease;
  transition: transform 2s;
  transform-style: preserve-3d;
}


.art-cover {
  opacity: 1;
  transition: all 0.3s ease;
  background-image: url('../../images/play_arrow.png');
  background-size: cover;
}

.art-cover:hover {
  cursor: pointer;
  opacity: .5;
  background-image: url('../../images/play_arrow.png');
}

.BR-images:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px black;
  opacity: .8;
  transform: rotateY(360deg);
}

.BR-labels {
  color: rgb(238, 238, 238);
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.BR-browse-images {
  border-radius: 12px;
  height: 275px;
  width: 250px;
  margin-left: 40px;
}

.BR-album-images {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-left: 60px;
  padding: 0;
}

.BR-album-images:hover {
  cursor: pointer;
}

.BR-song-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.BR-song-section {
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  /* border-top: 3px solid rgb(42, 42, 42);
  border-bottom: 3px solid rgb(42, 42, 42); */
}

.BR-song-images {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40px;
}

.BR-song-title {
  margin-top: 10px;
  margin-left: 10px;
}

/* .BR-album-title-container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: fit-content;
} */

#Swiper-Slide-container:first-child {
  margin: none;
}

#Swiper-Slide-container:not(:first-child) {
  margin: none;
  padding: none;
}

#Swiper-Slide-container {
  display: flex;
  margin-top: 2%;
  margin-right: none;
  padding: none;
  flex-direction: column;
  /* justify-content: center; */
}

.BR-album-title {
  color: rgb(238, 238, 238);
  font-size: 12px;
  width: fit-content;
  margin-left: 60px;
}

.BR-heart-icon {
  color: rgb(226 96 106);
}


.BR-heart-icon:hover {
  cursor: pointer;
  color: rgb(226 96 106);
}

#song-icon-heart:hover {
  cursor: pointer;
}

#song-icon-menu:hover {
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: rgb(222, 222, 222);
}
