.MD-body {
  z-index: -1;
  height: 2000px;
  padding-top: 65px;
  padding-left: 300px;
  padding-right: 50px;
}

.MD-label {
  color: rgb(238, 238, 238);
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.MD-sub-labels {
  color: rgb(238, 238, 238);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.MD-swiper-slide-songs {
  display: inline-flex;
  justify-content: space-evenly;
}

.MD-song-images {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.MD-song-description-div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.MD-song-description-div > h3 {
  padding: 0;
  margin: 0;
  color: rgb(238, 238, 238);
  font-size: 18px;
}

.MD-song-description-div > p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgb(105, 105, 105);
}


.MD-song-container-div {
  display: inline-flex;
  /* margin-left: 60px; */
}

#MD-eclipse {
  padding-top: 15px;
  /* padding-left: 100px; */
  color: rgb(226, 96, 106)
}

#MD-eclipse:hover {
  cursor: pointer;
}

.MD-album-images {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-left: 60px;
}

.MD-album-images {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 60px;
}

.MD-album-images:hover {
  cursor: pointer;
}


.MD-section-container {
  margin-bottom: 50px;
}

.MD-display-none {
  display: none;
}
