.MD-body {
  z-index: -1;
  height: 2000px;
  padding-top: 65px;
  padding-left: 300px;
  padding-right: 50px;
}

.MD-label {
  color: rgb(238, 238, 238);
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.MD-sub-labels {
  color: rgb(238, 238, 238);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.MD-swiper-slide-songs {
  display: inline-flex;
  justify-content: space-evenly;
}

.MD-song-images {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.MD-song-description-div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.MD-song-description-div > h3 {
  padding: 0;
  margin: 0;
  color: rgb(238, 238, 238);
  font-size: 18px;
}

.MD-song-description-div > p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgb(105, 105, 105);
}


.MD-song-container-div {
  display: inline-flex;
  /* margin-left: 60px; */
}

#MD-eclipse {
  padding-top: 15px;
  /* padding-left: 100px; */
  color: rgb(226, 96, 106)
}

#MD-eclipse:hover {
  cursor: pointer;
}

.MD-album-images {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-left: 60px;
}

.MD-album-images {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 60px;
}

.MD-album-images:hover {
  cursor: pointer;
}


.MD-section-container {
  margin-bottom: 50px;
}

.MD-display-none {
  display: none;
}

.MD-songs-carousel-images-div{

}
.MD-Playlist-CoverImage{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-left: 60px;
}
.MD-playlist-Title{
  margin-left: 50px;
  color:rgb(238, 238, 238);
  font-size: .8em;
}

#MD-eclipse-playlist{
  padding-top: 15px;
  padding-left: 10px;
  color: rgb(226, 96, 106)
}


.TTM-Main-Wrapper {

  background-color: rgb(30,30,30);
  border: solid rgb(75, 75, 75) 1px;
  border-radius: 8px;
  width: 110px;
  color: rgb(214, 214, 214);
  font-size: small;
  position: absolute;
  top: 100px;
  right: 200px;
}

.UDM-Main-Wrapper{
  background-color: rgb(30,30,30);
  border: solid rgb(75, 75, 75) 1px;
  border-radius: 8px;
  width: 80px;
  color: rgb(214, 214, 214);
  font-size: small;
}
/* used to fix overflow issue with menu popup being hidden by swiper */
div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
  overflow:none;
}
/* idk rn the menu is going under songs and chaning the z index doesnt do anything */
/* img.MD-song-images{
  z-index: -1;
  overflow: visible;
} */

.UDM-Main-Wrapper-Hidden{
  display: none;
}

.UDM-Update-Wrapper{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 100%;
  border-bottom: solid rgb(98, 98, 98) 1px;
  cursor: pointer;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}
.UDM-Delete-Wrapper{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}
#update-ico{
  position: relative;
  right: 5px;
}
#delete-ico{
  position: relative;
  right: 6px;
}

.UDM-Update{}
.UDM-Delete{}
